{% extends 'accounts/shared/_AccountsMainLayout.html' %}
{% block content %}
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="form-ui dt-sl dt-sn pt-4">
                        <div class="circle-box-icon" style="background-color: #4CAF50;!important;"><i class="mdi mdi-check"></i></div>
                        <div class="alert alert-success text-center">
                            لینک تغییر رمز به ایمیل شما ارسال شد!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}