{% extends 'accounts/shared/_AccountsMainLayout.html' %}
{% block content %}
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="form-ui dt-sl dt-sn pt-4">
                        <div class="circle-box-icon" style="background-color: #4CAF50;!important;"><i class="mdi mdi-check"></i></div>
                        <div class="alert alert-success text-center">
                            رمز عبور شما با موفقیت تغییر یافت!
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <div class="form-row mt-5">
                                    <a class="btn-block" href="{% url 'auth:login' %}">
                                        <button class="btn btn-primary mx-auto w-100">
                                            <i class="mdi mdi-login"></i>
                                            ورود به سایت
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}