{% extends 'app_site/shared/_SiteMainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
    <main class="main-content dt-sl mt-4 mb-3" style="transform: none;">
        <div class="container main-container" style="transform: none;">
            <div class="row" style="transform: none;">

                <!-- Start Sidebar -->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 order-lg-1 sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 74.6px;"><div class="profile-sidebar dt-sl">
                        {% render_partial 'shop_accounts.views.user_profile_panel' %}
                        {% render_partial 'shop_accounts.views.user_profile_sidebar_menu' %}
                    </div><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 360px; height: 770px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
                <!-- End Sidebar -->

                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="badge
                            badge-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% else %}primary{% endif %}
                            w-100 mb-2">
                                <p style="font-size: 15px" class="my-auto p-2 text-right">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-11 col-sm-12 mx-auto">
                            <div class="px-3 px-res-0">
                                <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                    <h2>ارتباط با ما</h2>
                                </div>
                                <div class="form-ui additional-info dt-sl dt-sn pt-4">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-ui dt-sl">
                                                <form class="form-account" action="" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-12 mb-2">
                                                            <div class="form-row-title">
                                                                <h4>
                                                                    {{ contact_form.fullname.label }}
                                                                </h4>
                                                            </div>
                                                            <div class="form-row">
                                                                {{ contact_form.fullname }}
                                                            </div>
                                                            {% for error in contact_form.fullname.errors %}
                                                                <p class="text-danger mt-2">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 mb-2">
                                                            <div class="form-row-title">
                                                                <h4>
                                                                    {{ contact_form.phone.label }}
                                                                </h4>
                                                            </div>
                                                            <div class="form-row">
                                                                {{ contact_form.phone }}
                                                            </div>
                                                            {% for error in contact_form.phone.errors %}
                                                                <p class="text-danger mt-2">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 mb-2">
                                                            <div class="form-row-title">
                                                                <h4>
                                                                    {{ contact_form.email.label }}
                                                                </h4>
                                                            </div>
                                                            <div class="form-row">
                                                                {{ contact_form.email }}
                                                            </div>
                                                            {% for error in contact_form.email.errors %}
                                                                <p class="text-danger mt-2">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 mb-2">
                                                            <div class="form-row-title">
                                                                <h4>
                                                                    {{ contact_form.title.label }}
                                                                </h4>
                                                            </div>
                                                            <div class="form-row">
                                                                {{ contact_form.title }}
                                                            </div>
                                                            {% for error in contact_form.title.errors %}
                                                                <p class="text-danger mt-2">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-12 mb-2">
                                                            <div class="form-row-title">
                                                                <h4>
                                                                    {{ contact_form.content.label }}
                                                                </h4>
                                                            </div>
                                                            <div class="form-row">
                                                                {{ contact_form.content }}
                                                            </div>
                                                            {% for error in contact_form.content.errors %}
                                                                <p class="text-danger mt-2">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col-12 pr-4 pl-4">
                                                            <button type="submit" class="btn btn-sm btn-success btn-submit-form float-left">ارسال</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->

            </div>
        </div>
    </main>
{% endblock %}
{% block footer_ref %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}