{% extends 'app_site/shared/_SiteMainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
    <main class="main-content dt-sl mt-4 mb-3" style="transform: none;">
        <div class="container main-container" style="transform: none;">
            <div class="row" style="transform: none;">

                <!-- Start Sidebar -->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 order-lg-1" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 74.6px;">
                        <div class="profile-sidebar dt-sl">
                            {% render_partial 'shop_accounts.views.user_profile_panel' %}
                            {% render_partial 'shop_accounts.views.user_profile_sidebar_menu' %}
                        </div>
                        <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
                            <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 360px; height: 770px;">
                                </div>
                            </div>
                            <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success w-100 mb-2">
                                <p style="font-size: 15px" class="my-auto p-2 text-right">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        {% render_partial 'shop_accounts.views.user_profile_info' %}
                        {% render_partial 'shop_accounts.views.user_profile_favourite' %}
                    </div>
                    {% render_partial 'shop_accounts.views.user_profile_summary_last_orders' %}
                </div>
                <!-- End Content -->

            </div>
        </div>
    </main>
{% endblock %}