{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
<head>
    {% render_partial 'tinakala.views.site_head_tags' %}
    {% include 'app_site/shared/_SiteHeaderRef.html' %}
    {% block header_ref %}
        <link rel="stylesheet" href="{% static 'app_site/css/vendor/nouislider.min.css' %}">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% render_partial 'shop_accounts.views.accounts_header' %}

    {% block content %}{% endblock %}

    {% render_partial 'shop_accounts.views.accounts_footer' %}
</div>
{% include 'app_site/shared/_SiteFooterRef.html' %}
{% block footer_ref %}
    <!-- Plugins -->
    <script src="{% static 'app_site/js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'app_site/js/vendor/wNumb.js' %}"></script>
    <script src="{% static 'app_site/js/vendor/ResizeSensor.min.js' %}"></script>
    <script src="{% static 'app_site/js/vendor/theia-sticky-sidebar.min.js' %}"></script>
{% endblock %}
</body>
</html>